body {
    background-color: #6f8e8e;
  }
  #dropdown {
    background-color: #7f8e8e;
  }
  #email {
    background-color: #7f8e8e;
  }
  #number {
    background-color: #7f8e8e;
  }
  #name {
    background-color: #7f8e8e;
  }
  #submit {
    background-color: #7f8e8e;
  }
  textarea {
    background-color: #7f8e8e;
  }
  