.homepage {
  background-color: black;
}

.welcome {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.left {
  width: 35%;
  
  padding-left: 30px;
  margin-top: 100px;
}
.butt {
font-size: 50px;
text-align: center;
color: white;
}
.welcome-text {
  color: #00B802;
  ;
}
.right {
  width: 35%;
  margin-top: 40px;
  padding-left: 50px;
}
.card {
  width: 60%;
  background-image: url("../src/images/Rectangle\ 5.svg");
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px;
  z-index: -1;
  margin-top: 50px;
}
.btn {
  height: 40px;
  width: 40%;
  border: none;
  color: white;
  background-color: rgb(63, 61, 61);
}
.overlay {
  width: 40%;
  position: relative;
  bottom: 350px;
  left: 210px;
  /* float: right; */
}
.overlay img{
  /* margin-bottom: 70px; */
  width: 70%;
  /* height: 100px; */
  /* padding-top: 50px; */
}